.selected-post {
    text-align: left;
    padding: 0 20px 20px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    margin-bottom: 10px;
    overflow-y: auto;
    width: 100%;
    height: calc(35% - 10px);
}

.selected-post h1 {
    text-transform: capitalize;
    color: #f02;
}
