.body-fixed {
    position: fixed;
}

div {
    box-sizing: border-box;
}

.flex-container {
    text-align: center;
    display: flex;
}

.main-content-container {
    margin: 0 10px;
}

@media (max-width: 680px) {
    .flex-container {
        flex-wrap: wrap;
    }
}
