div {
    box-sizing: border-box;
}

.App {
    text-align: center;
    display: flex;
}

.main-content-container {
    width: 80%;
    height: calc(100vh - 30px);
    margin: 10px;
}

@media (max-width: 680px) {
    .App {
        flex-wrap: wrap;
    }

    .main-content-container {
        width: 100%;
    }
}
